:root {
  --background-color-um: #F3F3F3;
  --background-color-dois: #EAEAEA;
  --background-color-tres: #4E4E4E;
  --background-color-quatro: #252525;
  --background-color-cinco: #000000;
  --background-color-seis: #F17F1A;
  --background-color-sete: #A9927C;
  --background-color-oito: #A3A3A3;
  --font-color-um: #000000;
  --font-color-dois: #F3F3F3;
  --font-color-tres: #A3A3A3;
  --font-color-quatro: #F7F7F7;
  --font-color-cinco: #595959;
  --link-color-um: #F17F1A;
}