@import url("../../components/styles/global.css");

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

:root {
    --branco: #FFFFFF;
    --cinzaLeve: #A3A3A3;
    --cinza: #EAEAEA;
    --cinzaEscuro: #4E4E4E;
    --cinzalevinho: #F3F3F3;
    --vermelho: #FF4747;
    --Azul: #032044;
}

.banner {
    width: 100%;
    height: 25vh;
    display: flex;
    background-image: url("../../images/BannerCompromisso.svg");
    background-size: cover;
    color: var(--branco);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}

.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
}

.conteudo>p {
    width: 50%;
    height: 100%;
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.painelCards {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;

}

.painelCardsDivi {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

.card {
    height: 100%;
    width: 15%;

    margin-left: 0.3%;
    margin-right: 0.3%;
    padding-bottom: 0.5%;
    background-color: var(--cinzalevinho);
}

.card>img {
    width: 100%;
}

.cardTexto>h4 {
    margin-top: 3%;
    margin-bottom: 4%;
    font-size: large;
}

.cardTexto {
    padding: 5%;
}

#cardDescricao {
    font-size: 14px;
}


.leiaMais {
    width: 100%;
    height: 28vh;
    background-color: var(--cinzaEscuro);
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leiaMais>h2 {
    color: var(--branco);
    font-size: xx-large;
}

.cardleiaMais {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardleiaMais>button {
    padding: 0.75%;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: none;
    border-radius: 2px;
}

.relatorioProgresso {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relatorioImpacto {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.relatorioImpacto>h2 {
    font-size: xx-large;
}

.relatorioImpacto>p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 15px;
}

.cardrelatorioImpacto>button {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

#botaoBranco {
    background-color: var(--branco);
    border-radius: 3px;
}

#botaoAzul {
    background-color: var(--Azul);
    border-color: var(--Azul);
    border-radius: 3px;
    color: var(--branco);
}

.relatorioProgresso>img {
    width: 50vw;
    height: 50vh;

}


.relatorioAnteriores {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.relatorioAnteriores>h4 {
    font-size: larger;
}

.cardrelatorioAnteriores {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.2%;
}

.cardrelatorioAnteriores>button {
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-right: 1.8%;
    padding-left: 1.8%;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: var(--branco);
    border-radius: 3px;
}